@charset "UTF-8";
@font-face {
    font-family: 'KORAILCondensed-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KORAILCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

body {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}
/* SCROLL_BAR ****************************************************** */

body::-webkit-scrollbar {
    display: none;
    width: 10px;
    height: 70%;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(52, 53, 65);
}

body::-webkit-scrollbar-button {
    background-color: transparent;

}

body::-webkit-scrollbar-thumb {
    /* 스크롤바 막대*/
    height: 80px;
    color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(73, 74, 84);
    outline: none;
    border: 8px solid transparent;
    border-radius: 10px;
}

body::-webkit-scrollbar-button:start:decrement,
body::-webkit-scrollbar-button:end:increment {
    display: block;
    background-color: rgb(52, 53, 65);

}

body::-webkit-scrollbar-thumb-track {
    /* 스크롤바 막대를 제외한 부분*/
    box-shadow: none;
    background-color: #000;
}

#wrap {
    width: 100%;
    height: 1500px;
    margin: 0 auto;
    /* background-color: greenyellow; */
}

/* HEADER ****************************************************** */

header>.headcont {
    width: 100%;
    margin: 0 auto;
    background-color: yellow;
}

header>.headcont>.topNav {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #000;
    border-bottom: 1px solid #fff;
}

header>.headcont>.topNav > h1 {
    position: absolute;
    cursor: pointer;
    left: 30px;
    width: 10%;
    height: 80px;
    line-height: 80px;
    text-indent: -9999px;
    filter: invert(1);
    background-image: url(./../img/down/AMD-Logo-700x394.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -15px;
}

header>.headcont>.topNav>div> ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

header>.headcont>.topNav>div {
    position: absolute;
}

header>.headcont>.topNav > div.menuCont {
    left: 25%;
    width: 500px;
    line-height: 80px;
}
header>.headcont>.topNav>div.menuCont> ul {display: flex; justify-content: space-evenly;}
/* header>.headcont>.topNav>div.menuCont> ul > li  {width: 150px;} */

header>.headcont>.topNav>div.menuCont> ul > li > a {
    color: white;
    font-size: 24px;
    padding:0;
    position: relative;
}

header>.headcont>.topNav>div.menuCont>ul>li>a::after {
    position: absolute;
    bottom: -8px;
    border: 0;
    border-bottom: 2px solid #fff;
    content: "";
    display: block;
    margin: 0;
    padding-top: 5px;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    width: 100%;
}
header>.headcont>.topNav>div.menuCont>ul>li>a:hover::after{transform: scaleX(1) translateY(-3px); }


header>.headcont>.topNav>div.iconCont {
    right: 0;
    width: 240px;
    height: 80px;
    line-height: 80px;
    background-color: black;
}

header>.headcont>.topNav>div.iconCont> ul {
    display: flex;
    justify-content: space-evenly;
    width: 240px;
}
header>.headcont>.topNav>div.iconCont> ul >li >a{
    font-size: 16px;
    color: white;
    padding: 5px;
}




/* /* HEADER > NAV ********************** */

header>.headcont > nav {
    width: 100%;
    height: 80px;
    background-color: white;
}

header>.headcont>nav>.navCon {
    position: absolute;
    left: 5%;
    width: 700px;
    height: 80px;
    /* background-color: #9ed4c0; */
}

header>.headcont>nav>.navCon>.gnb {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

header>.headcont>nav>.navCon>.gnb>li {
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* border: 1px solid #000; */
}

header>.headcont>nav>.navCon>.gnb>li:nth-child(4),
header>.headcont>nav>.navCon>.gnb>li:nth-child(5) {
    width: fit-content;
}

header>.headcont>nav>.navCon>.gnb>li:nth-child(4)>a {
    padding: 0 10px;
}

header>.headcont>nav>.navCon>.gnb>li>a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 10px 18px 10px;
}

header>.headcont>nav>.navCon>.gnb>li>a:hover {

    text-decoration: underline;
}


header>.headcont>.topview {
    height: 600px;
    background-color: rgb(158, 118, 118);
    background-image: url(../img/down/1268900-ryzen-background-1920x600.webp);
    background-size: cover;
    background-position: 0 -100px;
}

/* SECTION ****************************************************** */
section {
    content: "";
    background: #000;
}

section > article {
    margin: 0 auto;
    /* border: 1px solid rgb(15, 15, 15); */
}

section>article:nth-child(1) {
    height: 400px;
}

.view_graph {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 450px;
    background-color: #F2f2f2;
    /* background-color: #4b0f95;
    background-image: linear-gradient(194deg, rgba(75, 15, 149,0.7) 5%, rgba(15, 5, 20, 0.7) 26%, rgba(27, 8, 43, 0.7) 81%, rgba(6, 36, 108,0.7) 91%); */
}

.view_graph > #my-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

#my-chart .column caption {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
}
#my-chart table {margin-left:80px; margin-top: 40px;}
#my-chart>table>caption {
    position: absolute;
    left: -10%;
    top: -25%;
    font-size: 24px;
    font-weight: 600;
}

#my-chart .bar {
    --labels-size: 30px;
    --aspect-ratio: 16 / 9;
}

.amd-data::after {
    margin-left: 4px;
    font-size: 20px;
    font-weight: 600;
    text-indent: 4px;
    content: '\e098';
    font-family: "Font Awesome 5 Free";
}

.data {
    padding-left: 10px;
}

.divider{width: 5px; height: 280px; left: 50%;}
.view_graph>.prevBtn {
    position: absolute;
    padding: 0 5px;
    left: 8%;
    top: 40%;
}

.view_graph>.nextBtn {
    position: absolute;
    padding: 0 5px;
    right: 8%;
    top: 40%;
}





/* vidBox  */
.content:nth-child(1){background-color: black;}
.yt_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yt_container>.vid_prevBtn,
.yt_container>.vid_nextBtn {
    margin-top: 60px;
}

.yt_container>.vid_prevBtn>a::before {
    color: #fff;
    font-family: "Font Awesome 5 free";
    content: "\f048";
    font-size: 50px;
    padding: 0 20px;
}

.yt_container>.vid_nextBtn>a::before {
    color: #fff;
    font-family: "Font Awesome 5 free";
    content: "\f051";
    font-size: 50px;
    padding: 0 20px;
}


.yt_viewWindow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 30px;
    width: 610px;
    height: 325px;
    overflow: scroll;
    background-color: rgb(175, 41, 41);
}

.yt_container>.vidFrame {
    position: absolute;
    width: 600px !important;
    height: 325px;
}

.yt_container>#vid_blank {
    content: "";
}

.yt_viewWindow>#vid1 {
    content: "";
}

.yt_viewWindow>#vid2 {
    content: "";
}

.yt_viewWindow>#vid3 {
    content: "";
}

.yt_viewWindow::-webkit-scrollbar,
.graphpage::-webkit-scrollbar {
    display: none;
}

.yt_viewWindow::-webkit-scrollbar-button,
.graphpage::-webkit-scrollbar-button {
    display: none;
}

.yt_viewWindow::-webkit-scrollbar-thumb,
.graphpage::-webkit-scrollbar-thumb {
    display: none;
}

.yt_viewWindow::-webkit-scrollbar-button:start:decrement,
.yt_viewWindow::-webkit-scrollbar-button:end:increment,
.graphpage::-webkit-scrollbar-button:start:decrement,
.graphpage::-webkit-scrollbar-button:end:increment {
    display: none;
}


.yt_viewWindow::-webkit-scrollbar-thumb-track,
.graphpage::-webkit-scrollbar-thumb-track {
    /* 스크롤바 막대를 제외한 부분*/
    box-shadow: none;
    background-color: #222222;
}
/* tech - advantage */
.tech{
    display: flex; align-items: center; justify-content: center; width: 100%; height: 500px;background-color: rgb(10, 10, 10);}
.tech > .img_wrapper {
    display: flex;
    justify-content: center;
    height: 267px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tech > .img_wrapper > .img_frame{
    display: block;
    height: 267px;
    margin-left: 20px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.tech > .img_wrapper > .img_frame > img{
    border-radius: 10px;
}
.tech > .img_wrapper > .img_frame:hover{
    box-shadow:  0 0 5px 5px #525252;
    transform: scale(1.1);
}

.adv{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 320px;
    padding-top: 20px;
    background-color: #000;
}
.adv_slider{
    /* position: relative; */
    width: 70%;
    background-color: #000;
}
.adv_slider > .slider_window{
    display: block;
    overflow: hidden;
    /* position: absolute; */
    flex-flow: row nowrap;
	left: 0;
	top: 0;
    transition: all 0.4s ease-in-out;
    width: 806px;
    height: 299px;
    background-color: yellowgreen;
    margin: 0 auto;
}
.adv_slider > .slider_window > .slider_content{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.adv_slider > .slider_window > .slider_content_1{background-image: url(./../img/adv1.png);}
.adv_slider > .slider_window > .slider_content_2{background-image: url(./../img/adv2.png);}
.adv_slider > .slider_window > .slider_content_3{background-image: url(./../img/adv3.png);}
.adv_slider > .slider_window > .slider_content_4{background-image: url(./../img/adv4.png);}

/* rdna graph */
   

.rdna_graph{
    width: 100%;
    height: 500px;
    background-color: #000;
}

.rdna_graph > .rdna_bg {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    /* background-color: purple; */
    background-image: url(./../img/RDNA_graph.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.rdna_graph > .rdna_bg > p {
    font-size: 0px;
    text-indent: -9999;}

/* short img */
.shortSpec{
    width: 100%;
    height: 500px;
    background-color: #000;
    padding-top: 10px;
}

.shortSpec > .shortSpec_bg {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    /* background-color: purple; */
    background-image: url(./../img/shortSpec.png);
    background-size: cover;
}

.shortSpec > .shortSpec_bg  > p {
    font-size: 0px;
    text-indent: -9999;}

.nextGen{
    width: 100%;
    height: 500px;
    background-color: #000;
}

.nextGen > .nextGen_bg {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    /* background-color: purple; */
    background-image: url(./../img/nextGen.png);
}
.nextGen > .nextGen_bg  > p {
    font-size: 0px;
    text-indent: -9999;}





/* spec sheet */
.spec_sheet {
    position: relative;
    height: max-content;
    background-color: #cecece;
}
.spec_sheet > .Padding {
    width: 100%;
    height: 30px;
    content: " ";
    /* background-color: #9e9e9e; */
}
.spec_sheet > .Padding > span{ 
    position: absolute;
    left: 10%;
    height: 20px; 
    line-height: 20px;}

.spec {
    width: 85%;
    /* height: 700px; */
    margin: 30px auto;
    /* background-color: yellow; */
}


.spec_sheet > .spec > h2 {
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: "KORAILCondensed-Regular";
    padding-top: 20px;
    padding-bottom: 20px;
    caption-side: top;
}

.spec > fieldset {
    width: 100%;
    max-height: 900px;
    overflow: hidden;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 45px;
    border-bottom: 3px solid #000;
    /* background-color: blue; */
}
.spec > fieldset > legend {
    display: inline;
    float: left;
    padding-left: 30px;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    width: 25%;
}
.spec > fieldset > .fieldset_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
}
.spec > fieldset > .fieldset_wrapper > .itemBox{display: flex; width: 33%; margin-top: 10px; margin-bottom: 10px;}
.spec > fieldset > .fieldset_wrapper > .itemBox > .label {font-size: 14px; font-weight: 800; font-family: 'Noto Sans KR', sans-serif; margin-right: 10px;}
.spec > fieldset > .fieldset_wrapper > .itemBox > .label::after{content: ":";}
.spec > fieldset > .fieldset_wrapper > .itemBox > .item {font-size: 14px; margin-left: 5px; margin-right: 10px;}



.spec > fieldset > .features_label {
    display: inline;
    float: left;
    padding-left: 30px;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    width: 25%;
}

.spec > fieldset > .fieldset_wrapper > .features {
    display: flex; 
    flex-flow: row wrap;
    /* justify-content: flex-start; */
    float: right;
}
.spec > fieldset > .features_wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.spec > fieldset > .fieldset_wrapper > .features {
    width: 100%;
    align-content: baseline;
    margin-top: 3px;
}
.spec > fieldset > .fieldset_wrapper > .label { 
    width: 100%;
    font-size: 14px; 
    font-weight: 800; 
    font-family: 'Noto Sans KR', sans-serif; 
    margin-right: 10px;
}


.spec > fieldset > .fieldset_wrapper > .features  > .item  { 
    width: 33%;
    flex-basis: 33%;
    margin: 0 20px 0 0;
    padding-right: 100px;
    font-size: 14px; 
}


.spec > fieldset > .fieldset_wrapper > .OS-sup {display: flex; flex-flow: row wrap;} 
.spec > fieldset > .fieldset_wrapper > .OS-sup > .OS-sup-la {float: left;}
.spec > fieldset > .fieldset_wrapper > .OS-sup > .OS-sup-it {float: right; justify-content: flex-end;}


/* contact************************************************************ */
.contact {
    display: flex;
    justify-content: center;
    margin: -30px;
    padding: 10px 0px 0px 0px;
    position: static;
    height: 240px;
    background-color: white;
}
.contact > form > .FAQ { 
    display: flex; 
    justify-content: center;
    align-items: center;
    width: max-content; 
    height: 80px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    position:relative;
}
.contact > form > .FAQ > label {
    display: block; 
    text-align: center; 
    font-size: 30px; 
    height: 30px; 
    line-height: 30px; 
    margin: 10px 0;
    position: absolute;
    top:0px;
}

.contact > form > .FAQ >input {
    width: 500;
    height: 60px;
    margin: 10px auto;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    position: absolute;
    top:50px;
}
.contact > form > .FAQ >input::placeholder{
    /* display: block; */
    color: darkgray;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap{position: relative; height: 100%;}
/* FOOTER ****************************************************** */
footer {
    margin-top: 30px;
    height: 120px;
    background-color: black;
}


footer>.sc_cont {
    position: relative;
    right: 10%;
}

footer>.sc_cont>ul {
    display: flex;
    position: absolute;
    right: 20px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 380px;
}

footer>.sc_cont>ul>li {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
}

footer>.sc_cont>ul>li:before {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    color: white;
    font-family: "Font Awesome 5 Brands";
    font-size: 2.26rem;
}

footer>.sc_cont>ul>li:nth-child(1):before {
    content: "\f39e";
}

footer>.sc_cont>ul>li:nth-child(2):before {
    content: "\e61b";
}

footer>.sc_cont>ul>li:nth-child(3):before {
    content: "\f16d";
}

footer>.sc_cont>ul>li:nth-child(4):before {
    content: "\f0e1";
}

footer>.sc_cont>ul>li:nth-child(5):before {
    font-family: "Font Awesome 5 free";
    content: "\f0e0"
}

footer>.sc_cont>ul>li:nth-child(6):before {
    content: "\f167";
}

footer>.sc_cont>ul>li:nth-child(7):before {
    content: "\f1e8";
}

footer>address {
    color: white;
    height: 40px;
    line-height: 40px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

/* ASIDE ****************************************************** */
/* aside {
    transition: all 3s ease-in-out;
} */

aside>.sideBar {
    display: none; /* TODO 임시로 안보이게 처리! none -> static*/
    position: fixed;
    right: -10%;
    bottom: 10%;
    width: 60px;
    height: 200px;
    transition: all 1.3s ease-in-out;
    /* background-color: blue; */
}

aside>.sideBar>div.menu {
    width: 100%;
    height: 170px;
    /* background-color: antiquewhite; */
}

aside>.sideBar>div.menu>ul>li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: 1px solid #000;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 5px;
}

aside>.sideBar>div.top_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 8px;
}

aside>.sideBar>div.top_arrow::before {
    color: white;
    font-family: "Font Awesome 5 free";
    font-size: 1.86rem;
    content: "\f062";
}